<%= render 'layouts/messages' %>

<h1>Questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type of question</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.questions.each do |question| %>
      <tr class="active">
        <td><%= question.title %></td>
        <td><%= question.kind %></td>
        <td><%= question.project.title %></td>
        <td><%= link_to 'Show', [@project, question] %></td>
        <td><%= link_to 'Edit', edit_project_question_path(@project, question)
        %></td>
        <td><%= link_to 'Destroy', [@project, question], method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <tr>
      <td>
      <ul>
        <% question.possible_answers.each do |possible_answer| %>
          <li><%= possible_answer.title %></li>
        <% end %>
      </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_project_question_path, class: 'btn
btn-primary' %>
